:root {
	--primary-btn-color: rgba(0, 55, 198, 0.8);
	--primary-btn-text-color: white;
	--primary-btn-disabled-color: rgba(0, 55, 198, 0.8);

	--primary-text-color: black;

	--secondary-btn-color: pink;
	--secondary-btn-text-color: black;
	--test-color: "green";
}
